attrs==20.3.0
blinker==1.6.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
cryptography==41.0.3
exceptiongroup==1.1.3
execnet==2.0.2
Flask==2.3.3
h11==0.14.0
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
jellyfish==0.11.2
Jinja2==3.1.2
lib50==3.0.7
MarkupSafe==2.1.3
mimesis==11.1.0
mysql-connector-python==8.1.0
outcome==1.2.0
packaging==23.1
pep8==1.7.1
pexpect==4.8.0
pluggy==1.3.0
protobuf==4.21.12
ptyprocess==0.7.0
pycparser==2.21
PySocks==1.7.1
pytest==7.4.0
pytest-cache==1.0
pytest-pep8==1.0.6
python-dotenv==1.0.0
PyYAML==6.0.1
requests==2.31.0
selenium==4.12.0
sniffio==1.3.0
sortedcontainers==2.4.0
submit50==3.1.1
termcolor==1.1.0
trio==0.22.2
trio-websocket==0.10.4
urllib3==2.0.4
vsearch @ file:///D:/mymodules/dist/vsearch-1.0.tar.gz#sha256=f02897c937bc65a9fcb095e6e230470296d9aba69f5e4c61a9686a46b6bea71f
webdriver-manager==4.0.0
Werkzeug==2.3.7
wsproto==1.2.0
